___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [5]:
import pandas as pd

In [6]:
sal = pd.read_csv('Salaries.csv')

In [7]:
sal.head(2)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN

** Read Salaries.csv as a dataframe called sal.**

** Check the head of the DataFrame. **

In [8]:
df.head()

NameError: name 'df' is not defined

** Use the .info() method to find out how many entries there are.**

In [ ]:
sal.info()

In [ ]:
sal['BasePay'].mean()

**What is the average BasePay ?**

In [ ]:
sal['OvertimePay'].max()

** What is the highest amount of OvertimePay in the dataset ? **

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [ ]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

** How much does JOSEPH DRISCOLL make (including benefits)? **

** What is the name of highest paid person (including benefits)?**

In [ ]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [ ]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]

In [ ]:
sal.iloc[sal['TotalPayBenefits'].argmin()]

In [ ]:
sal.loc[sal['TotalPayBenefits'].argmax()] #or you can use idxmax instead of argmax

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [ ]:
sal.groupby('Year').mean()['BasePay']

** How many unique job titles are there? **

In [ ]:
sal.count().unique()

In [ ]:
sal['JobTitle'].nunique()

** What are the top 5 most common jobs? **

In [ ]:
sal['JobTitle'].value_counts().head(5)

In [ ]:
sum(sal[sal['Year'] == 2013] ['JobTitle'].value_counts() ==1)

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [ ]:
sum(sal[sal['Year'] == 2013] ['JobTitle'].value_counts() ==1)

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [9]:
def chief_string(title):
    if 'chief' in title.lower().split():
        return True
    else: 
        return False

In [10]:
chief_string('CHIEF MANAGER-METROPOLITAN TRANSIT AUTORITY')

True

In [12]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [18]:
sal['title_len']= sal['JobTitle'].apply(len)

TypeError: object of type 'int' has no len()

In [15]:
sal[['JobTitle','Title_len']]

KeyError: "['Title_len'] not in index"

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!