In [ ]:
import pandas as pd

In [ ]:
pwd

In [ ]:
pd.read_csv('example')

In [ ]:
df = pd.read_csv('example')

In [ ]:
df

In [ ]:
df.to_csv('My_output', index = False)

In [ ]:
pd.read_csv('My_output')

In [ ]:
pd.read_excel('Excel_Sample.xlsx', sheet_name = 'Sheet1')

In [ ]:
pd.read_excel('Excel_Sample.xlsx')

In [ ]:
df.to_excel('Excel_Sample2.xlsx', sheet_name='NewSheet')

In [ ]:
data = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')

In [ ]:
data

In [ ]:
type(data)

In [ ]:
data[0].head()

In [ ]:
from sqlalchemy import create_engine

In [35]:
engine = create_engine ('sqlite:///:memory:')

In [36]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [37]:
df.to_sql('My_table', engine)

In [39]:
sqldf = pd.read_sql('My_table', con = engine)

In [1]:
sqldf

NameError: name 'sqldf' is not defined